TRACKER_API=https://skillab-tracker.csd.auth.gr/api
TRACKER_USERNAME=event_public
TRACKER_PASSWORD=PublicOnly2026
ESCO_SKILLS_PATH=C:\Users\NITROPC\Downloads\mapping_of_ESCO_skills.xlsx
ESCO_OCCUPATIONS_PATH=C:\Users\NITROPC\Downloads\mapping_of_ESCO_occupations.xlsx
